/* Variables */

// Base color
$darkBlue:#2B3757;
$light-blue:#56688D;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$colorPrimary: #06BFFF;
$colorPrimaryHovered: #06B1FF;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#1f2d3d;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;
$menuBg:#304156;
$menuText:#bfcbd9;
$menuActiveText:#409EFF; // Also see settings.sidebarTextTheme

// Login page
$lightGray: #B1C1C8;
$darkGray:#889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;


// User dashboard

$bigCardBorderRadius: 10px;
$smallCardBorderRadius: 6px;



// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
